<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a user-focused Full-Stack Developer who uses my background in customer service and hospitality to make every customer's experience awesome.
                    Over the past few years, I've begun transitioning from the customer service industry into the technology sector.</p>
                </div>
                <div class="col-lg-4">
                    <p>Along the way, I've learned a ton by failing at launching two businesses, before successfully organizing Seattle's first hackathon for cannabis technology. I'm currently seeking a junior developer position where I can use my natural strengths to help better solve customers' problems.</p>
                </div>
            </div>
            <div class="techBox">
                <div class="text-center">
                    <h3>Technologies I use:</h3>
                </div>
                <br />
                <div class="row">                    
                    <img src="/img/techLogosHTML5.png" class="col-lg-2 col-lg-offset-1">
                    <img src="/img/techLogosCSS.png" class="col-lg-2">
                    <img src="/img/techLogosJS.png" class="col-lg-2">
                    <img src="/img/techLogosBootstrap.png" class="col-lg-2 bootstrapLogo">
                    <img src="/img/techLogosRubyOnRails.png" class="col-lg-2">              
                </div>
                <div class="row">                     
                    <img src="/img/techLogosMongoDB.png" class="col-lg-2 col-lg-offset-1 logos">
                    <img src="/img/techLogosExpress.png" class="col-lg-2 logos">
                    <img src="/img/techLogosAngular.png" class="col-lg-2">
                    <img src="/img/techLogosNode.png" class="col-lg-2 node">
                    <img src="/img/techLogosPostgreSQL.png" class="col-lg-2 postgres">                 
                </div>
            </div>
        </div>
    </section>